body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #0044cc;
    color: white;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 2em;
}

section {
    margin-bottom: 2em;
}

#denetimListesi {
    list-style: none;
    padding: 0;
}

#denetimListesi li {
    background-color: #f1f1f1;
    margin-top: 0.5em;
    padding: 0.5em;
    border: 1px solid #ccc;
}

footer {
    background-color: #f1f1f1; 
    text-align: center; padding: 0.5em; /* Daha küçük padding */
    font-size: 0.8em; /* Daha küçük font boyutu */
    position: fixed; 
    width: 100%; 
    bottom: 0;
}

