body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    position: relative;
}

header {
    background-color: #0044cc;
    color: white;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5em 1em;
    background-color: #0066ff;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: #0055cc;
    color: yellow;
}

main {
    padding: 2em;
    padding-bottom: 5em;
}

section {
    margin-bottom: 2em;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 1em;
}

form input, form select, form textarea, form button {
    margin-top: 0.5em;
    padding: 0.5em;
}

form button {
    background-color: black;
    color: white;
    border: 2px solid #0044cc;
    cursor: pointer;
    margin-top: 1em;
}

form button:hover {
    background-color: #333;
}

#denetimListesi {
    list-style: none;
    padding: 0;
}

#denetimListesi li {
    background-color: #f1f1f1;
    margin-top: 0.5em;
    padding: 0.5em;
    border: 1px solid #ccc;
}

footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 0.5em;
    font-size: 0.8em;
    position: fixed;
    width: 100%;
    bottom: 0;
}
